[submodule "thirdparties/senders-io"]
	path = thirdparties/senders-io
	url = git@github.com:maikel/senders-io.git
[submodule "thirdparties/fmt"]
	path = thirdparties/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "thirdparties/magic_enum"]
	path = thirdparties/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "thirdparties/spdlog"]
	path = thirdparties/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparties/nlohmann-json"]
	path = thirdparties/nlohmann-json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparties/catch2"]
	path = thirdparties/catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "thirdparties/stdexec"]
	path = thirdparties/stdexec
	url = git@github.com:villevoutilainen/wg21_p2300_std_execution.git
	branch = member-only-customization-points
[submodule "thirdparties/expected"]
	path = thirdparties/expected
	url = https://github.com/TartanLlama/expected.git
[submodule "thirdparties/range-v3"]
	path = thirdparties/range-v3
	url = git@github.com:ericniebler/range-v3.git
